body {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #f5edbc;
}

.header-container > div{
    padding: 10px;
}

.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image > a > img {
    width: 100px;
}

.image > a > img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.image > a{
    text-decoration: none;
}

.name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    color: #171F25;
}

.navegation{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
}

.navegation > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navegation > nav > ul > li > a {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-decoration: none;
    color: #171F25;
}

.nav-link:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}